@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.background {
	background: url('https://images.pexels.com/photos/4386357/pexels-photo-4386357.jpeg') no-repeat center center/cover;
	position: absolute;
	top: -20px;
	bottom: -20px;
	left: -20px;
	right: -20px;
	z-index: -1;
	filter: blur(20px);
	transition: filter 120ms ease-out;
}