@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: "Hebeo", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.random-number {
	font-size: 24px;
	color: red;
	max-width: 600px;
	margin: 30px auto;
	text-align: center;
}

#guess {
	margin-top: 20px;
	width: 100px;
	padding: .5rem;
}

#guessBtn {
	margin-left: 10px;
	padding: 0.25rem;
}

#randomBtn {
	margin-top: 25px;
	padding: .75rem;
}

h3 {
	filter: drop-shadow(2px 2px #000);
}
