@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

* {
	box-sizing: border-box;
}

body {
	background-color: #c5c5c5;
	font-family: "Hebeo", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.wrapper {
	font-size: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.wrapper h1 {
	font-size: 32px;
	color: steelblue;
}

.button-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

button {
	width: 70px;
	height: 40px;
	margin: 10px 10px;
}